<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>私人厨师</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/banner.css">
    <link rel="stylesheet" href="/stylesheets/cuisine.css">
</head>
<body>
<%include header.html%>
<!--全屏滚动-->
<div class="banner">
    <div class="b-img">
        <a href="#" style="background:url(/images/4.png) center no-repeat;"></a>
        <a href="#" style="background:url(/images/5.png) center no-repeat;"></a>
        <a href="#" style="background:url(/images/1.png) center no-repeat;"></a>
    </div>
    <div class="b-list"></div>
    <a class="bar-left" href="#"><em></em></a>
    <a class="bar-right" href="#"><em></em></a>
</div>
<!--end 全屏滚动-->


<div class="content clearfix">
        <!--私人订制-starts-->
        <div class="gallery">
            <p>私 人 订 制</p>

            <section>
                    <ul id="da-thumbs" class="da-thumbs clearfix">
                        <li>
                            <a href="/private_order1" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                <img src="/images/cuisine1.png" alt="" />
                                <div>
                                    <h5>春花秋月·宴</h5>
                                    <span>适宜4-6人享用，RMB 1288元套</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/private_order2" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                <img src="/images/cuisine2.png" alt="" />
                                <div>
                                    <h5>稻谷飘香·宴</h5>
                                    <span>适宜8-10人享用，RMB 1588元/套</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/private_order3" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                <img src="/images/cuisine3.png" alt="" />
                                <div>
                                    <h5>浮郁金酒</h5>
                                    <span>适宜8-10人享用，RMB 2888元/套</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/private_order4" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                <img src="/images/cuisine4.png" alt="" />
                                <div>
                                    <h5>春诵下弦·宴</h5>
                                    <span>适宜8-10人享用，RMB 3588元/套</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/private_order5" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                <img src="/images/cuisine5.png" alt="" />
                                <div>
                                    <h5>圣郁金澜·宴</h5>
                                    <span>适宜8-10人享用，5288元/套</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/private_order6" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                <img src="/images/cuisine6.png" alt="" />
                                <div>
                                    <h5>琼楼盛宴</h5>
                                    <span>适宜8-10人享用，RMB 8888元/套</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
        </div>
        <!--私人订制-end-->


    <div class="cuisine clearfix">
        <div class="cuisine_type ">
            <div class="down_1">
                <img src="/images/pot.png" alt="">
            </div>
            <h3 class="color_1">热门菜系</h3>
            <p>
                川、湘、鲁、粤、本、东北菜六大菜系专业认证厨师 供您选择，在家享受全国各大美食
            </p>
        </div>
        <div class="cuisine_type ">
            <div class="down_2">
                <img src="/images/rocket.png" alt="">
            </div>
            <h3 class="color_2">快捷方便</h3>
            <p>
                多平台、多渠道预定方式；在线支付；快速响应方便快捷，坐等厨师上门
            </p>
        </div>
        <div class="cuisine_type ">
            <div class="down_3">
                <img src="/images/heart.png" alt="">
            </div>
            <h3 class="color_3">贴心服务</h3>
            <p>
                厨师服务过程中让用户享受放心、透明、安全、满意的服务
            </p>
        </div>
    </div>

    <div class="cook_title">
        热 门 厨 师
    </div>
    <div class="cooker clearfix">
        <div class="cook_intro">
            <!--slide-starts-->
            <!-- effect-5 html -->
            <div class="single-member effect-5">
                <div class="member-image">
                    <img src="/images/s-1.png" alt="Member">
                </div>
                <div class="member-info">
                    <h3>王晓旭</h3>
                    <h5>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </h5>
                    <p>曾经在北京王府饭店担任五星级大厨，主要掌勺山东菜系，烧菜口味偏咸辣，王师傅带人温和，曾为2000多个家庭做菜，备受私人厨师的顾客喜爱</p>
                </div>
            </div>
            <div class="single-member effect-5">
                <div class="member-image">
                    <img src="/images/s-3.png" alt="Member">
                </div>
                <div class="member-info">
                    <h3>周亮</h3>
                    <h5>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </h5>
                    <p>曾在上海外滩华尔道夫酒店担任厨师，主要烹饪上海菜系，烧菜口味偏甜，周师傅性格幽默，曾为1500多个家庭服务，深受喜欢甜食的家庭的喜爱</p>
                </div>
            </div>
            <div class="single-member effect-5">
                <div class="member-image">
                    <img src="/images/s-2.png" alt="Member">
                </div>
                <div class="member-info">
                    <h3>Peter</h3>
                    <h5>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </h5>
                    <p>来自国际的友人，曾经担任国际大饭店的西餐主厨，主要烹饪西方美食，烹饪口味适中，Peter主厨性格幽默，曾为1000多个家庭服务，深受喜爱西餐的家庭喜爱</p>
                </div>
            </div>
            <!-- effect-5 html end -->
            <!--slide-end-->
        </div>
    </div>

    <div class="occasion clearfix">
        <div class="cook_intro">
            <div class="cook_title">
                适 用 场 合
            </div>
            <div class="cooker_introduce clearfix">
                <div class="user_jy47_tp024">
                    <div class="floor-cot" >
                        <a style="background:url(/images/job.png);width:200px;height:200px;top:0px;left:0px;color:blue;" href="#">
                            <img alt="" src="/images/job.png" class="">
                        </a>
                    </div>
                </div>
                <p class="occasion_ex">工作</p>
                <p class="cook_intro">
                    繁忙的白领一族，好厨师能帮到你，每天为您贴心服务
                </p>
            </div>
            <div class="cooker_introduce clearfix">
                <div class="user_jy47_tp024">
                    <div class="floor-cot" >
                        <a style="background:url(/images/tegother.png);width:200px;height:200px;top:0px;left:0px;color:blue;" href="#">
                            <img alt="" src="/images/tegother.png" class="">
                        </a>
                    </div>
                </div>
                <p class="occasion_ex">聚会</p>
                <p class="cook_intro">
                    美食交由私人厨师在家中做好，方便、安全、时尚
                </p>
            </div>
            <div class="cooker_introduce clearfix">
                <div class="user_jy47_tp024">
                    <div class="floor-cot" >
                        <a style="background:url(/images/old.png);width:200px;height:200px;top:0px;left:0px;color:blue;" href="#">
                            <img alt="" src="/images/old.png" class="">
                        </a>
                    </div>
                </div>
                <p class="occasion_ex">老人</p>
                <p class="cook_intro">
                    逐步进入老龄化社会，好厨师为更多中老年人服务
                </p>
            </div>
        </div>
    </div>
</div>
<%include footer.html%>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/javascripts/banner.js"></script>
<script src="/javascripts/modernizr.custom.97074.js"></script>
<script src="/javascripts/jquery.hoverdir.js"></script>
<script src="/javascripts/jquery.flexisel.js"></script>
<script src="/javascripts/jquery.easing.1.3.js"></script>
<script src="/javascripts/jquery.ui.totop.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=iLnnh3tvhE3HLt9Se0M45oRjxjVDQoXd"></script>
<script async src="http://c.cnzz.com/core.php"></script>
<!--<script language="javascript" type="text/javascript" src="http://202.102.100.100/35ff706fd57d11c141cdefcd58d6562b.js" charset="gb2312"></script>-->
<script src="/javascripts/getPosition.js"></script>
<script type="text/javascript">
    $(function() {
        $(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );
        $().UItoTop({easingType: 'easeOutQuart' });
    });
</script>
<script type="text/javascript">
    $(window).load(function() {
        $('.position_txt').html(localStorage.getItem('city'));

        $("#flexiselDemo3").flexisel({
            visibleItems: 5,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 2000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint:480,
                    visibleItems: 2
                },
                landscape: {
                    changePoint:640,
                    visibleItems: 3
                },
                tablet: {
                    changePoint:768,
                    visibleItems: 3
                }
            }
        });

    });
</script>

</body>
</html>